# Web & base
streamlit>=1.48,<2
pandas==2.2.2
numpy==1.26.4
matplotlib==3.9.0
joblib==1.4.2

# ML
scikit-learn==1.5.1
scipy==1.13.1

# Auth
streamlit-authenticator==0.3.2

# Graphviz (interface Python)
graphviz==0.20.3

# Embeddings (nécessite Torch)
sentence-transformers==3.0.1
torch==2.4.1